<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container"> 
      <section class="about">
        <img style="display: none;" id="profile-to-pdf" src="{{ "/assets/portfolio-to-pdf.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
        <a href="/"><img id="profile" src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
        <p class="tagline">{{ site.plainwhite.tagline }}</p>
        <ul class="social">
          {%- if site.plainwhite.social_links.github -%}
            <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
              <li>
                <i class="icon-github-circled"></i>
              </li>
            </a>
          {%- endif -%}
	  {%- if site.plainwhite.social_links.medium -%}
            <a href="https://medium.com/@{{ site.plainwhite.social_links.medium }}">
              <li class="icon-medium">
                <i class="fab fa-medium fa-2x icon-medium"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.linkedIn -%}
            <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
              <li>
                <i class="icon-linkedin-squared"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.twitter -%}
            <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
              <li>
                <i class="icon-twitter-squared"></i>
              </li>
            </a>
          {%- endif -%}
        </ul>

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  <script>
  let postDates = document.querySelectorAll('.post-date');
  {% if page.name == 'pt-br.md' %}
  (function () {
    return moment.defineLocale('pt-br', {
        months : 'janeiro_fevereiro_março_abril_maio_junho_julho_agosto_setembro_outubro_novembro_dezembro'.split('_'),
        monthsShort : 'jan_fev_mar_abr_mai_jun_jul_ago_set_out_nov_dez'.split('_'),
        weekdays : 'domingo_segunda-feira_terça-feira_quarta-feira_quinta-feira_sexta-feira_sábado'.split('_'),
        weekdaysShort : 'dom_seg_ter_qua_qui_sex_sáb'.split('_'),
        weekdaysMin : 'dom_2ª_3ª_4ª_5ª_6ª_sáb'.split('_'),
        longDateFormat : {
            LT : 'HH:mm',
            L : 'DD/MM/YYYY',
            LL : 'D [de] MMMM [de] YYYY',
            LLL : 'D [de] MMMM [de] YYYY [às] LT',
            LLLL : 'dddd, D [de] MMMM [de] YYYY [às] LT'
        },
        calendar : {
            sameDay: '[Hoje às] LT',
            nextDay: '[Amanhã às] LT',
            nextWeek: 'dddd [às] LT',
            lastDay: '[Ontem às] LT',
            lastWeek: function () {
                return (this.day() === 0 || this.day() === 6) ?
                    '[Último] dddd [às] LT' : // Saturday + Sunday
                    '[Última] dddd [às] LT'; // Monday - Friday
            },
            sameElse: 'L'
        },
        relativeTime : {
            future : 'em %s',
            past : '%s atrás',
            s : 'segundos',
            m : 'um minuto',
            mm : '%d minutos',
            h : 'uma hora',
            hh : '%d horas',
            d : 'um dia',
            dd : '%d dias',
            M : 'um mês',
            MM : '%d meses',
            y : 'um ano',
            yy : '%d anos'
        },
        ordinal : '%dº'
    });
  })();
  {% endif %}
  for(let post of postDates){
    let startAt = moment(post.querySelector('.start-at').value);
    let endAt = moment(post.querySelector('.end-at').value);
    endAt = endAt.isValid() ? endAt : moment(new Date());
    let diff = moment.duration(endAt.diff(startAt));
    if(post.querySelector('p'))
      post.querySelector('p').innerHTML = diff.humanize();
  }
  </script>
  <script src='{{ "/assets/js/create-pdf.js" | relative_url }}'></script>
  </body>
</html>
